
body, h1, h3, a {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color:#777;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 320px;
  width: 90%;
}
.profile-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}
h1 {
  font-size: 24px;
  color: #333;
}

h3 {
  font-size: 18px;
  color: #777;
  margin-bottom: 20px;
}

.contact-links a {
  display: inline-block;
  margin: 8px;
  text-decoration: none;
  color: #0a66c2;
  font-weight: 500;
}

.contact-links a:hover {
  text-decoration: underline;
}
